@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    box-sizing: border-box;
    margin-left: 0;
}

html{
    width: 100%;
    height: 100%;
    
}

body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
    
    
    
    font-family: "Roboto";
}

a {
    color: black;
}

a:link{
    text-decoration: none;
    
}
a:visited{
    text-decoration: none;
    

}
a:hover{
    text-decoration: none;
    color: #bd7c0b;
}
a:active{
    text-decoration: none;
}
.nav {
    background-color: #ecedeb;
    position: fixed;
    width: 100%;
    top: 0px;
    font-size: 14px;
    padding: 10px 20px;
    
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}


.toppart{
   
   width: 100%;
   box-sizing: border-box;
   padding: 0px 0px;
   margin: 0px;
   
}
.blackone{
   
    width: 100%;
    box-sizing: border-box;
    
}
.navbar{
   
    box-sizing: border-box;
    width: 100%;
    padding: 0px 16px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-size: 14px;
    font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    

}
.left-part{
    display: flex;
    box-sizing: border-box;
    padding: 3px;
    height: 64px;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    

}

.category{
    display: flex;
    box-sizing: border-box;
    height: 64px;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}
.category div:hover {
    background:azure;
    padding: 20px;
}


.searchbar{
    display: flex;
    box-sizing: border-box;
    border: grey;
    background-color: aliceblue;
    border-radius: 3%;
    padding: 10px;
    

    
}
.searchbaricon{
    display: flex;
    
    align-items: center;
    width: 20px;

}
#search {
    border: 0px;
    background: transparent;margin-right: 20px;
    outline: none;
}


.right-part{
  
    display: flex;
    height: 64px;
  
    width: 30%;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;

}
.right-part button {
    border: 0px;
    background: transparent;
}
.right-part button:hover {
    border: 0px;
    background: transparent;
    color: #bd7c0b;
}

#yellowline {
    background-color: #faa619;
    color: #faa619;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    
    margin-top: 85px;
    font-size: 14px;

}




#slideshow{
    padding: 20px 0px 50px 0px;

    width: 90%;
    margin: auto;
    height: 500px;
    box-sizing: border-box;

}
#slideshow > img {
    width: 100%;
    box-sizing: border-box;

}
#afterslideshow {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    border: 1px solid red;
    box-sizing: border-box;
}
#afterslideshow > img {
    width: 100%;
}

#majordiv {
    width: 90%;
    margin: auto;
    border: 2px solid red;
    box-sizing: border-box;
}

.h2heading {
    font-size: 18px;
    
    padding-top: 24px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.h2heading  h2{
    font-weight: 700;
    line-height: 26px;
    box-sizing: border-box;
}
.h2heading  div{
    margin-top: 5px;
    
    width: 50px;
    border-bottom: 5px solid #faa619;
    box-sizing: border-box;
}

#OurBenefits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}
#OurBenefits > img {
    width: 100%;
}
.UnmissableOfferstype {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}
.UnmissableOfferstype > img {
    width: 100%;
}

.fulllength {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    border: 1px solid red;
    box-sizing: border-box;
}
.fulllength > img {
    width: 100%;
}
.Watches > img {
    height: 450px;
    border-radius: 10px;
}
#TopCategories{
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    border: 2px solid red;
}
#leftportion {
    width: 20%;
    background-color: #ecedeb;
}
#leftportion button {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: 0px;
    background: transparent;
}
#leftportion button:hover {
    background:azure;
}
#rightportion {
    width: 80%;
    border: 2px solid black;
    
    
}
#rightportion > div:first-child {
    width: 100%;
    display: flex;
    
    background-color: #bd7c0b;
    border: 2px solid blue;
    
    
    
    
}
#categoryname {
    display: inline;
    margin-top: 0;
    padding: 0;
    line-height:inherit;
   
    
}

